.Cabecalho .logo img {
  max-width: 150px;
  margin-left: -14px;
}

.Cabecalho .icon-menu img {
  width: 30px;
  height: 30px;
}

.Cabecalho .icon-menu-wrapper {
  padding: 8px;
  cursor: pointer;
  align-self: center;
  border-radius: 8px;
}

.Cabecalho .icon-menu-wrapper:hover {
  background-color: #41536a;
}

.menuMobile {
  position: absolute;
  border-radius: 8px 0 0 8px;
  top: 88px;
  right: 0;
  background: #2d415b;
  transition: all 0.7s;
  overflow: hidden;
  width: 0px;
}

.mostrarMenu {
  width: 240px;
}
