.DetalhesProjeto .title {
  font-family: Inter sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 16px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ffffff;
}

.DetalhesProjeto .my-textarea {
  margin-top: 16px;
  margin-bottom: 32px;
}

.DetalhesProjeto .colorPicker {
  width: 100%;
  height: 52px;
  margin-top: 16px;
  margin-bottom: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  padding: 0.5rem;
  border: 0.0625rem solid white;
  border-radius: 8px;
}

.DetalhesProjeto .myButton {
  width: 100%;
  height: 56px;
  background: #5081fb;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 16px;
}
