.CardProjeto {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.16);
}

.CardProjeto .codigoWrapper {
  padding: 24px;
  border-radius: 8px;
}

.CardProjeto .editorTexto {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  border-radius: 8px;
  padding: 16px;
  min-height: 360px;
  max-height: 360px;
}

.CardProjeto .circles {
  display: flex;
  margin-bottom: 24px;
}

.CardProjeto .redCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f56;
}

.CardProjeto .yellowCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffbd2e;
  margin-left: 8px;
}

.CardProjeto .greenCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #27c93f;
  margin-left: 8px;
}

.CardProjeto .tituloProjeto {
  font-weight: bold;
  font-size: 21px;
  line-height: 31px;
}

.CardProjeto .descricaoProjeto {
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
  margin-top: 8px;
}

.CardProjeto .detalhesProjeto {
  margin-top: 32.5px;
  display: flex;
  align-items: center;
}

.CardProjeto .likeCount {
  cursor: pointer;
}

.CardProjeto code {
  white-space: pre-wrap;
}

.CardProjeto code.preview {
  color: white;
}

.CardProjeto .preview {
  display: block;
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.CardProjeto .preview::-webkit-scrollbar {
  width: 1rem;
}

.CardProjeto .preview:focus {
  border: 0px !important;
  outline: 0px !important;
}
