.App {
  border-radius: 12px;
  padding: 32px;
  background-color: #051d3b;
  color: #fff;
  margin: 16px;
  height: calc(100vh - 32px);
}

.App .main-content {
  width: 90%;
  background-color: red;
}

.App footer {
  position: fixed;
  width: 100%;
  bottom: 36px;
}
