.App {
  position: relative;
  border-radius: 16px;
  border: none;
  padding: 16px 16px 32px 16px;
  background-color: #051d3b;
  color: #fff;
  margin: 4px;
  min-height: calc(100vh - 8px);
}

.App .main-content {
  width: 100%;
}

.App footer {
  position: absolute;
  width: 100%;
  bottom: 8px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bababa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bababa;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bababa;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 0;
    border-radius: 0;
  }
}
